In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pylab as plt 
import re
%matplotlib inline
data_path = "C:/Users/SpiffyApple/Documents/USC/Courses/Fall2016/PPD599/project/DATA_Nov4"

In [2]:
data_files = [str(x)+'.csv' for x in np.linspace(2006, 2015, 11).astype(int)]
data_files = data_files[1:]
data_dict = {}
print(data_files)

['2006.csv', '2007.csv', '2008.csv', '2009.csv', '2010.csv', '2011.csv', '2012.csv', '2013.csv', '2014.csv', '2015.csv']

In [ ]:
#test_df = pd.read_csv("/".join([data_path, data_files[0]]), header=1, index_col=0)
#.dropna().replace("%|\$|,", "", regex=True).astype(float).transpose()
#test_df.columns = test_df.columns.str.lower()
#test_df.index = test_df.index.str.extract("([\w\s]+) city", expand=False)
#test_df.dropna().head().transpose()

In [3]:
for data_file in data_files:
    #print(data_file)
    if "csv" in data_file:
        key = re.findall("\d+", data_file)[0]
        data_dict[key] = pd.read_csv("/".join([data_path, data_file]), header=1, index_col=0).dropna(how='all').drop_duplicates().replace("%|\$|,|", "", regex=True).transpose()
        data_dict[key].columns = data_dict[key].columns.str.lower()
        data_dict[key].columns = [re.sub(" \([\w\s]+\)|\$|\:| or more", "", x) for x in data_dict[key].columns.tolist()]
        data_dict[key].columns = [re.sub("  ", " ", x) for x in data_dict[key].columns.tolist()]
        data_dict[key] = data_dict[key].loc[:,~data_dict[key].columns.duplicated()]
        data_dict[key].drop(data_dict[key].index[~data_dict[key].index.str.contains("city")], inplace=True)
        data_dict[key].index = data_dict[key].index.str.extract("([\w\s]+) city", expand=False)
        data_dict[key] = data_dict[key].loc[data_dict[key].index != np.nan]
        print("data size of %s:" %key,data_dict[key].shape)

data size of 2006: (116, 114)
data size of 2007: (117, 115)
data size of 2008: (118, 112)
data size of 2009: (119, 116)
data size of 2010: (124, 116)
data size of 2011: (128, 116)
data size of 2012: (130, 115)
data size of 2013: (131, 115)
data size of 2014: (132, 115)
data size of 2015: (132, 115)

In [4]:
common_cols = set(data_dict['2006'].columns)
missing_cols = {}
for key in data_dict.keys():
    common_cols = common_cols.intersection(data_dict[key].columns)
    if "living in poverty" not in data_dict[key].columns:
        print(key)
for key in data_dict.keys():
    missing_cols[key] = common_cols.difference(data_dict[key].columns)
    
print("num of common cols: %d" %len(common_cols))
#print(common_cols)

2008
num of common cols: 103

In [5]:
keys = data_dict.keys()
df = pd.concat([data_dict[key][list(common_cols)] for key in keys],keys = keys)

In [6]:
df.head()

                 2,000 divorced 1,500 to 1,999 under 5 years 35 to 44 years  \
2009 Alameda       NaN     8143            NaN          4106          11745
     Alhambra      NaN     5983            NaN          5213          11040
     Anaheim      4570    20080           9540         30617          47777
     Antioch       NaN     6356            NaN          9088          12789
     Bakersfield  1497    25185           3039         31338          42173

                 10,000 to 14,999 two races householder  \
2009 Alameda                 2288                 47972
     Alhambra                1431                 42093
     Anaheim                 3932                 66762
     Antioch                 1753                 45112
     Bakersfield             5623                 54186

                 population density (per sq. mile) 1, attached asian alone  \
2009 Alameda                                6595.3        3708         NaN
     Alhambra                              11161.9        4300       42174
     Anaheim                                6904.0        8914       48024
     Antioch                                3754.0        1361        8632
     Bakersfield                            2869.0        2266       14041

                       ...       60,000 to 74,999 some college  \
2009 Alameda           ...                   2968        14896
     Alhambra          ...                   2792        17528
     Anaheim           ...                  12213        56840
     Antioch           ...                   2721        23002
     Bakersfield       ...                   9776        61535

                 native hawaiian and other pacific islander alone householder  \
2009 Alameda                                                    NaN
     Alhambra                                                   NaN
     Anaheim                                                  76787
     Antioch                                                    NaN
     Bakersfield                                                NaN

                 black or african american alone householder  \
2009 Alameda                                             NaN
     Alhambra                                          87969
     Anaheim                                           48753
     Antioch                                           39936
     Bakersfield                                       31257

                 less than high school unemployed native born  \
2009 Alameda                      5000       3913       49194
     Alhambra                    13758       3487       43323
     Anaheim                     55334      21037      210788
     Antioch                      7472       7192       80463
     Bakersfield                 41020      16873      270999

                 median year structure built 18 to 24 years renter occupied
2009 Alameda                            1962           3746           15396
     Alhambra                           1953           7284           16331
     Anaheim                            1971          32099           50997
     Antioch                            1981          13502           11307
     Bakersfield                        1984          35106           43296

[5 rows x 103 columns]

In [7]:
df.index.names = ['year', 'city']

In [ ]:
#df = df.astype(float)

In [8]:
df.columns.str.contains('poverty')

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False], dtype=bool)

In [9]:
df.index.levels[1][df.index.levels[1].str.contains("Los Angeles")]

Index(['Los Angeles'], dtype='object', name='city')

In [10]:
df = df.astype(float)

In [16]:
#df['prop_male'] = df['male'].div(df['total population'])
df['prop_black'] = df['black or african american alone'].div(df['total population'])
df['high_or_less'] = (df['less than high school'] + df['high school graduate']).div(df['population 25 years and over'])
df['rent_rate'] = df['renter occupied'].div(df['housing units'])
df['rent_to_income'] = df['median gross rent'].div(df['median household income'])
df['unemployment_rate'] = df['unemployed'].div(df['civilian population in labor force 16 years and over'])
df['foreign_rate'] = df['foreign born'].div(df['total population'])
#df['poverty_rate'] = df['living in poverty'].div(df['population age 18 to 64 for whom poverty status is determined'])

In [17]:
df.columns[df.columns.str.contains("\d+")]

Index(['2,000', '1,500 to 1,999', 'under 5 years', '35 to 44 years',
       'hh10to15', '1, attached', '10 to 19', 'less than 10,000',
       '25 to 34 years', 'hh75to100', '800 to 999', '20 to 49',
       '1,000 to 1,249', '45 to 54 years', 'hh20to25', '1 unit', '1, detached',
       '55 to 64 years', 'hh200over', '3 or 4', '50', 'hh25to30', 'hh50to60',
       '75 to 84 years', 'hh125to150', '10 to 14 years', '600 to 799',
       'hh35to40', '10 to 29 percent', 'less than 300', 'hh150to200',
       'hh40to45', 'hh30to35', 'population 25 years and over',
       'civilian population in labor force 16 years and over',
       '1,250 to 1,499', 'population 15 years and over', '85 years and over',
       '15 to 17 years', '5 to 9 years', 'hh100to125', '30 to 49 percent',
       '300 to 599', '65 to 74 years', '5 to 9', 'less than 10 percent',
       'hh45to50', '2', '50 percent', 'hh15to20', 'hh60to75', '18 to 24 years',
       'ami80', 'ami60', 'ami40'],
      dtype='object')

In [18]:
df.rename(columns={'10,000 to 14,999':'hh10to15', '100,000 to 124,999':'hh100to125', '125,000 to 149,999':'hh125to150',
       '15,000 to 19,999':'hh15to20', '150,000 to 199,999':'hh150to200', '20,000 to 24,999':'hh20to25', '200,000':'hh200over',
       '25,000 to 29,999':'hh25to30', '30,000 to 34,999':'hh30to35', '35,000 to 39,999':'hh35to40',
       '40,000 to 44,999':'hh40to45', '45,000 to 49,999':'hh45to50', '50,000 to 59,999':'hh50to60',
       '60,000 to 74,999':'hh60to75', '75,000 to 99,999':'hh75to100',}, inplace=True)

In [19]:
df['ami80'] = df['median household income']*.8
df['ami60'] = df['median household income']*.6
df['ami40'] = df['median household income']*.4

In [20]:
df.columns[df.columns.str.contains("hh")].str.extract("hh(\d+)", expand=False).astype(int)*10e3

Float64Index([ 100000.0,  750000.0,  200000.0, 2000000.0,  250000.0,  500000.0,
              1250000.0,  350000.0, 1500000.0,  400000.0,  300000.0, 1000000.0,
               450000.0,  150000.0,  600000.0],
             dtype='float64')

In [21]:
"Bakersfield" in df.index.levels[1]

True

In [22]:
"San Jose" in df.index.levels[1]

True

In [23]:
df.to_csv("/".join([data_path,"acs_2006_2015.csv"]))

In [60]:
data_dict = {}
for key in  ['1980','1990', '2000']:
    data_dict[key] = pd.read_csv("/".join([data_path,key+'.csv']),header=1, index_col = 0).dropna(how='all').replace("%|\$|,|", "", regex=True).transpose()
    data_dict[key].columns = data_dict[key].columns.str.lower()
    data_dict[key].columns = [re.sub(" \([\w\s]+\)|\$|\:| or more", "", x) for x in data_dict[key].columns.tolist()]
    data_dict[key].columns = [re.sub("  ", " ", x) for x in data_dict[key].columns.tolist()]
    data_dict[key] = data_dict[key].loc[:,~data_dict[key].columns.duplicated()]
    data_dict[key].drop(data_dict[key].index[~data_dict[key].index.str.lower().str.contains("city")], inplace=True)
    data_dict[key].index = data_dict[key].index.str.lower().str.extract("([\w\s]+) city", expand=False).str.title()
    data_dict[key] = data_dict[key].loc[data_dict[key].index != np.nan]
    print("data size of %s:" %key,data_dict[key].shape)

data size of 1980: (254, 104)
data size of 1990: (448, 102)
data size of 2000: (463, 107)

In [61]:
common_cols = set(data_dict['1980'])   
for key in data_dict.keys():
    common_cols = common_cols.intersection(data_dict[key].columns)
    if "living in poverty" not in data_dict[key].columns:
        print(key)
print("num of common cols: %d" %len(common_cols))

num of common cols: 47

In [62]:
#common_cols

In [63]:
keys = data_dict.keys()
print(keys)
census_df = pd.concat([data_dict[x][list(common_cols)] for x in keys], keys = keys)

dict_keys(['1990', '1980', '2000'])

In [64]:
census_df.shape

(1165, 47)

In [65]:
census_df.columns

Index(['owner occupied', '15 to 17 years', 'widowed', 'divorced', 'households',
       'median household income', 'never married', '5 to 9 years',
       'black or african american alone', 'occupied', 'total population',
       'foreign born', '45 to 54 years', '1 unit', 'not living in poverty',
       '35 to 44 years', '1, detached', '55 to 64 years',
       'occupied housing units', '65 to 74 years',
       'population 25 years and over', 'vacant', '1, attached', '2',
       'specified renter-occupied housing units', 'white alone',
       '75 to 84 years',
       'civilian population in labor force 16 years and over', 'now married',
       'not computed', '10 to 14 years', 'employed', 'less than high school',
       'living in poverty', '25 to 34 years', 'unemployed',
       'population 15 years and over', 'native born', 'housing units',
       'median gross rent', '85 years and over', 'high school graduate',
       'median year structure built',
       'population age 18 to 64 for whom poverty status is determined',
       '18 to 24 years', 'separated', 'renter occupied'],
      dtype='object')

In [66]:
census_df = census_df.astype(float)

In [67]:
census_df['prop_black'] = census_df['black or african american alone'].div(census_df['total population'])
census_df['high_or_less'] = (census_df['less than high school'] + census_df['high school graduate']).div(census_df['population 25 years and over'])
census_df['rent_rate'] = census_df['renter occupied'].div(census_df['housing units'])
census_df['rent_to_income'] = census_df['median gross rent'].div(census_df['median household income'])
census_df['unemployment_rate'] = census_df['unemployed'].div(census_df['civilian population in labor force 16 years and over'])
census_df['foreign_rate'] = census_df['foreign born'].div(census_df['total population'])

In [68]:
census_df.head()

                   owner occupied  15 to 17 years  widowed  divorced  \
1990 Adelanto               872.0           282.0    199.0     590.0
     Agoura Hills          5513.0          1090.0    337.0    1187.0
     Alameda              13443.0          2087.0   4212.0    7075.0
     Albany                3297.0           445.0    989.0    1465.0
     Alhambra             11463.0          3145.0   5166.0    5185.0

                   households  median household income  never married  \
1990 Adelanto          2875.0                  18835.0         1223.0
     Agoura Hills      6626.0                  70919.0         3723.0
     Alameda          29235.0                  38122.0        19892.0
     Albany            7203.0                  34836.0         3775.0
     Alhambra         28362.0                  31368.0        23125.0

                   5 to 9 years  black or african american alone  occupied  \
1990 Adelanto             976.0                           1156.0    2881.0
     Agoura Hills        1839.0                            228.0    6610.0
     Alameda             4465.0                           4953.0   29078.0
     Albany              1058.0                            946.0    7192.0
     Alhambra            4878.0                           1482.0   28239.0

                       ...       \
1990 Adelanto          ...
     Agoura Hills      ...
     Alameda           ...
     Albany            ...
     Alhambra          ...

                   population age 18 to 64 for whom poverty status is determined  \
1990 Adelanto                                                 4986.0
     Agoura Hills                                            13224.0
     Alameda                                                 45147.0
     Albany                                                  10803.0
     Alhambra                                                51897.0

                   18 to 24 years  separated  renter occupied  prop_black  \
1990 Adelanto              1105.0      252.0           2009.0    0.135729
     Agoura Hills          1626.0      224.0           1097.0    0.011182
     Alameda              10292.0     1357.0          15635.0    0.064780
     Albany                1371.0      293.0           3895.0    0.057941
     Alhambra             10117.0     1587.0          16776.0    0.018050

                   high_or_less  rent_rate  rent_to_income  unemployment_rate  \
1990 Adelanto          0.668203   0.622560        0.022246           0.183058
     Agoura Hills      0.214481   0.158366        0.013565           0.036119
     Alameda           0.355518   0.512287        0.017733           0.043847
     Albany            0.226562   0.521559        0.018946           0.029641
     Alhambra          0.486456   0.566680        0.020275           0.060517

                   foreign_rate
1990 Adelanto          0.089820
     Agoura Hills      0.140461
     Alameda           0.172275
     Albany            0.251853
     Alhambra          0.469077

[5 rows x 53 columns]

In [69]:
print('acs shape:', df.shape)
print("census shape:", census_df.shape)
t_df = pd.concat([df, census_df])
print("combined shape:", t_df.shape)

acs shape: (1247, 112)
census shape: (1165, 53)
combined shape: (2412, 118)

In [71]:
t_df.sort_index(inplace=True)
t_df.shape

(2412, 118)

In [72]:
t_df.head()

                1 unit  1, attached  1, detached  1,000 to 1,249  \
year city
1980 NaN       19335.0       1915.0      17420.0             NaN
     Alameda   12156.0       2348.0       9808.0             NaN
     Albany     4026.0        156.0       3870.0             NaN
     Alhambra  14236.0       1446.0      12790.0             NaN
     Anaheim   41535.0       3448.0      38087.0             NaN

               1,250 to 1,499  1,500 to 1,999  10 to 14 years  10 to 19  \
year city
1980 NaN                  NaN             NaN          5566.0       NaN
     Alameda              NaN             NaN          3748.0       NaN
     Albany               NaN             NaN           756.0       NaN
     Alhambra             NaN             NaN          3984.0       NaN
     Anaheim              NaN             NaN         15806.0       NaN

               10 to 29 percent  15 to 17 years   ...     two races  \
year city                                         ...
1980 NaN                    NaN          3907.0   ...           NaN
     Alameda                NaN          2585.0   ...           NaN
     Albany                 NaN           472.0   ...           NaN
     Alhambra               NaN          2600.0   ...           NaN
     Anaheim                NaN         11555.0   ...           NaN

               two races householder  under 5 years  unemployed  \
year city
1980 NaN                         NaN            NaN      1767.0
     Alameda                     NaN            NaN      1476.0
     Albany                      NaN            NaN       324.0
     Alhambra                    NaN            NaN      1284.0
     Anaheim                     NaN            NaN      5612.0

               unemployment_rate  vacant  white alone  \
year city
1980 NaN                0.048353  1429.0      62422.0
     Alameda            0.047567  1252.0      47014.0
     Albany             0.042587   180.0      10748.0
     Alhambra           0.039912  1216.0      30912.0
     Anaheim            0.046881  2960.0     167762.0

               white alone householder  \
year city
1980 NaN                           NaN
     Alameda                       NaN
     Albany                        NaN
     Alhambra                      NaN
     Anaheim                       NaN

               white alone householder, not hispanic or latino  widowed
year city
1980 NaN                                                   NaN   4170.0
     Alameda                                               NaN   4194.0
     Albany                                                NaN   1156.0
     Alhambra                                              NaN   5250.0
     Anaheim                                               NaN  10098.0

[5 rows x 118 columns]

In [84]:
t_df.to_csv("/".join([data_path, 'census_data_1980_2015.csv']))

In [75]:
t_df.shape

(2412, 118)

In [82]:
t_df = t_df.reset_index().drop_duplicates(['city', 'year'])

In [83]:
t_df.shape

(2410, 120)